{{ define "module-cards" }}
{{ $data := .Data }}
{{ $cards := index (index $data "cardsCollection") "items" }}
<div class="px-[20px] py-[40px] xl:px-0 xl:py-[50px] xl:max-w-[1180px] xl:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-[20px]">
        {{ range $cards }}
            <div class="bg-white">
                {{ $image := index . "image" }}
                {{ if $image }}
                    <img class="w-full h-auto" src="{{ index $image "url" }}" alt="{{ index $image "title" }}" />
                {{ end }}
                <div class="px-[20px] py-[40px] xl:px-[40px] xl:py-[40px]">
                    <div class="font-headline font-bold text-[20px] leading-[36px] mb-[20px] xl:text-[24px] xl:leading-[40px]">{{ index . "headline" }}</div>
                    <div class="richtext text-[18px] leading-[26px] xl:text-[20px] xl:leading-[24px]">
                        {{ with index . "text" }}
                            {{ safeHTML (index . "html") }}
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
