{{ define "module-stage" }}
{{ $data := .Data }}
<div class="relative text-white">
    <div class="hidden xl:block absolute bottom-0 left-0 opacity-[0.11]">
        <img class="-translate-x-[30px] translate-y-[50px] w-full h-auto" src="/logo.svg" alt="" />
    </div>
    <div class="px-[20px] py-[40px] xl:px-0 xl:py-[50px] xl:max-w-[1180px] xl:mx-auto xl:flex">
        <div class="mb-[40px] xl:w-1/2 xl:pr-[54px]">
            <div class="font-headline font-bold text-[24px] leading-[48px] uppercase xl:text-[48px] xl:leading-[80px]">{{ index $data "headline" }}</div>
            {{ with index $data "subheadline" }}
                <div class="font-headline font-medium text-[18px] leading-[28px] uppercase mt-[20px] xl:mt-[40px] xl:text-[24px] xl:leading-[40px]">{{ . }}</div>
            {{ end }}
            {{ with index $data "description" }}
                <div class="font-headline font-medium text-[20px] leading-[30px] mt-[16px] xl:mt-[24px] xl:text-[28px] xl:leading-[42px]">{{ . }}</div>
            {{ end }}
        </div>
        <div class="xl:w-1/2 xl:pl-[54px] xl:translate-y-[150px]">
            {{ $image := index $data "image" }}
            {{ if $image }}
                <img class="w-full h-auto" src="{{ index $image "url" }}" alt="{{ index $image "title" }}" />
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
