{{ define "root" }}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ if .Meta }}
            {{ if .Meta.Title }}
                <title>{{ .Meta.Title }}</title>
            {{ else }}
                <title>{{ .Slug }}</title>
            {{ end }}
            {{ if .Meta.Description }}
                <meta name="description" content="{{ .Meta.Description }}" />
            {{ end }}
        {{ else }}
            <title>{{ .Slug }}</title>
        {{ end }}
        <link href="/fonts.css" rel="stylesheet" />
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        {{ template "header" . }}
        <main class="pt-[122px] xl:pt-[136px]">
            {{ template "content" . }}
        </main>
        {{ template "footer" . }}
        {{ template "cookie-consent" . }}
        <script src="/js/cookie-consent.js" defer></script>
        <script src="/js/nav.js" defer></script>
        <script src="/js/accordion.js" defer></script>
        <script src="/js/slider.js" defer></script>
    </body>
</html>
{{ end }}
