{{ define "content" }}
    {{ range .Sections }}
        <section class="{{ if .Background.NoPadding }}py-0{{ else }}py-[20px] xl:py-[50px]{{ end }}" style="background-color: {{ .Background.Color }};">
            {{ range .Modules }}
                {{ if eq .Type "stage" }}
                    {{ template "module-stage" . }}
                {{ end }}
                {{ if eq .Type "text" }}
                    {{ template "module-text" . }}
                {{ end }}
                {{ if eq .Type "image-text" }}
                    {{ template "module-image-text" . }}
                {{ end }}
                {{ if eq .Type "cards" }}
                    {{ template "module-cards" . }}
                {{ end }}
                {{ if eq .Type "accordions" }}
                    {{ template "module-akkordeons" . }}
                {{ end }}
                {{ if eq .Type "headlines" }}
                    {{ template "module-headlines" . }}
                {{ end }}
                {{ if eq .Type "slider" }}
                    {{ template "module-slider" . }}
                {{ end }}
                {{ if eq .Type "html" }}
                    {{ template "module-html" . }}
                {{ end }}
            {{ end }}
        </section>
    {{ end }}
{{ end }}
